* {
  box-sizing: flex;
}
header{
border: 12px;
}
nav{
  background-color:lightgrey;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
ul li {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
h1 {
    background-color: rgb(216, 198, 163);
    color: black;
    text-align: center;
  }
body {
    color: black;
    text-align: center;
  }
  div {
    width:600px;
    margin:auto;
    border: 1px lavender solid ;
  }
  .logo {
    display: flex;
    margin: auto;
    clip-path: ellipse(50% 35%);
}
footer{
  background-color: lightgray;
}